manifest {
    mainScript = 'main.nf'
    defaultBranch = 'main'
    homePage = 'https://github.com/FredHutch/interop-nf'
    nextflowVersion = '20.10.0'
    name = 'InterOp QC'
}

report {
    enabled = true
    file = 'interop.nextflow.report.html'
}

process {
    withLabel: 'io_limited' {
        cpus = { 1 }
        memory = { 2.GB }
        maxRetries = 1
    }
    withLabel: 'io_net' {
        cpus = { 1 }
        memory = { 2.GB }
        maxRetries = 1
    }
    withLabel: 'mem_medium' {
        cpus = { 1 }
        memory = { 4.GB }
        maxRetries = 1
    }
    withLabel: 'mem_veryhigh' {
        cpus = { 1 }
        memory = { 8.GB }
        maxRetries = 1
    }
}
